body {
    font-family: sans-serif;
  }
  h1{
    margin-left:25%;
  }
  #new-task{
    height: 40px;
    width: 300px;
  }
  #add-task-button{
    height: 45px;
  }
  #main-div{
    border-radius:20px;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;
    border: 2px solid black;
    display: flex;
  }
  #first-div{
    align-items: center;
    justify-content: center;
  } 
  .div-task{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    border: 2px solid rgb(165, 216, 240);
  }
  
  .check{
    text-decoration: line-through;
  }